.footer {
  font-size: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.love {
  font-size: 25px;
}

.tee {
  font-size: 25px;
  color: blue;
  font-weight: 800px;
  font-family: "Lobster", cursive;
  font-family: "Parisienne", cursive;
}
